@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body{
  background-color: #85c6cc;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}
div{
  margin: 0 auto;

}

.carousel-control-prev, .carousel-control-next{
  background-color: black;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
}

#about{
  background-color: #e2dbf3;
  border-radius: 5px;
  padding: 25px;
  color: black;
}
