@import url('https://fonts.googleapis.com/css?family=Dosis|Oswald');
body{
  margin: 10px;
  background-color: #f5f5f5;
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size: 50px;
  text-transform: uppercase;
}

.container{
  margin-top: 25px;
}

.row{
  margin: 0 auto;
}

